*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("../images/background.png");
    background-color: white;
    }
.container{
    background-color:white;
}
header{
    background-color:tan;
    color:black;
    padding: 2rem;
}
h1{
font-size: 2rem;
}
p {
font-size:1rem;
color:black;
}
img{
    max-width: 100%;
}
a:link, a:visited {
   color:black;
   text-decoration: none;
}
a:hover {
    color:white;
    text-decoration: black;
 }

/*** Layout ***/
.container{
    background-color:tan;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
}
.container > *{
    grid-column: span 12;
}

.container2{
    background-color:white;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12,1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
    text-align: left;
}
.container2 > * {
    grid-column: span 12;
}

.aboutme p{
    padding-bottom: 3rem;
    text-align: left;
}



/*** Navigation ***/
.name {
    grid-column: 1 / span 4;
    padding-top: .5rem;
    color:black;
}
.about{
    grid-column: 9 / span 1;
    padding-top: 2rem;
    color: white;
}
.work{
    grid-column: 10 / span 1;
    padding-top: 2rem;
    color: white;
}
.contact{
    grid-column: 11 / span 1;
    padding-top: 2rem;
    color: white;
}
.card{
    background-color: white;
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
}
.card-title{
    margin: 0.75rem 0 0 0;
    padding: 0 2rem 0.5rem;
}
.card-text{
    margin: 0.5rem 0 1rem 0;
    padding: 0 2rem 0.5rem;
}




/*** Components ***/
.button:link, .button:visited{
    color:white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border-radius: .25rem;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.5s ease;
}
.button:hover{
    background-color: tan;
    color:white;
}


/*** Desktop Layout ***/
@media screen and (min-width: 40rem) {
    .col-span-8{
        grid-column: span 8;
    }
    .aboutme{
        grid-column: 2 / span 5;
        padding-top: 8rem;
        line-height: 1.5rem;
        text-align: center;
    }
    .aboutme2{
        grid-column: 8 / span 4;
        padding-top: 4rem;
    }
}