:root {
    --primary-color: #033f5f;
    --secondary-color: #007cbc;
    --neutral-grey: #747e83;
    --neutral-light:#ffffff;
    --highlight-color: #f5ba36;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: car(--primary-color);
}
h1 {
    font-size:2.5rem;
    color: var(--neutral-light);
}
h2 {
    font-size:2rem;
    color: var(--primary-color);
}
h3 {
    font-size:1.5rem;
    color: var(--primary-color);
}
p , ul, ol {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--neutral-grey);
}
img {
    max-width: 100%;
}

/***** Layout *****/
.container {
    background-color: red;
    width: min(95%, 75rem);
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(12, 1fr);
}
.container > * {
    grid-column: span 12;
}

/* Desktop Layout */
@media screen and (min-width: 40rem) {
    
    .menu {
        grid-column: 1 / span 5;
        background-color: #0b5f03;
    }
    .site-id { 
        grid-column: 6 / span 2 ;
        background-color:#033f5f ;
    }
    .company {
        grid-column: 8 / span 5;
        background-color: purple;
    }
    .hero {
        grid-column: 1 / span 12;
        background-color: orange;
    }
    .social {
        grid-column: 1 / span 4;
        background-color: #0b5f03;
    }
    .search { 
        grid-column: 5 / span 4 ;
        background-color:#033f5f ;
    }
    .rights {
        grid-column: 9 / span 4;
        background-color: purple;
    }
    .col-span-2 {
        background-color: black;
        grid-column: span 2;
    }
}